/* .navbar-light .navbar-toggler {
  border-color: transparent;
}

.navbar-light .navbar-toggler-icon {
	background-image: url(./images/nav-link.png);
}

.navbar-brand {
	font-size: 26px;
	font-weight: 300;
} */