button.next-btn {
	visibility: hidden;
}

a.link {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
	text-decoration: none;
	display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,
    	background-color .15s ease-in-out,
    	border-color .15s ease-in-out,
    	box-shadow .15s ease-in-out;
}

a.link.link-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    display: block;
    width: 100%;
}

a.link:hover {
    background-color: #0069d9;
    border-color: #0062cc;
    cursor: pointer;
}